body{padding: 0; margin: 0; color: #00656b; line-height: 0;}
#wrapper{
    width: 100%;
    box-shadow: 0px 0px 25px #00656b;
    -webkit-box-shadow: 0px 0px 25px #00656b;
    padding: 20px 0 70px 0; margin: 40px 0;
}
#video-container{margin: auto; cursor: pointer;}
#video-container>*, #video-error>img{position: absolute;}
#video-container, #video-container>*{width: 750px; height: 420px;}

#video-controls>.fa{cursor: pointer; margin-top: 10px;}
#video-play >.fa, #video-replay >.fa{
    text-align: center;
    width: 100%;
    margin-top: 180px;
    color: #ffffff;
}

#video-controls{margin: 10px auto; width: 750px;}
#video-controls>*{display: inline;}
#progress-bar, #video-timer{float: right;}

input[type=range] {
  -webkit-appearance: none;
  width: 70%; height: 20px;
  background: #00656b;
}

input[type=range]::-webkit-slider-thumb { -webkit-appearance: none; }
input[type=range]:focus { outline: none; }

input[type=range]::-ms-track {
  width: 70%; height: 20px;
  cursor: pointer;
  background: #00656b; 
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px; height: 20px;
  background: #ffffff;
}

input[type=range]::-moz-range-thumb {
  width: 20px; height: 20px;
  background: #ffffff;
}

input[type=range]::-ms-thumb {
  width: 20px; height: 20px;
  background: #ffffff;
}

#video-error, #video-replay{display: none;}
#video-error>p{color: #ffffff; font-size: 30px; font-weight: bold; padding: 50px; position: absolute;}